<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/header') %> 
</head>
<body>
  <%- include('../partials/navbar') %> 
  <br>
  <div  class="container">
    <h2>Bem vindo Administrador</h2>
    <hr>
  
  </div>
</body>
<%- include('../partials/footer') %> 
</html>